<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">


    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/templateForm">Form - Template Driven</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dataForm">Form - Data Driven</a>
        </li>
    </ul>
  </div>
</nav> -->

<!-- <div class="container container-fluid"> -->
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
<!-- </div> -->